<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="themerom.bonus.com.themerom" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:name="themerom.bonus.com.themerom.application.ThemeApplication"
        android:allowBackup="false"
        android:icon="@drawable/qsbk_app"
        android:label="@string/app_name"
        android:theme="@style/RomTheme" >
        <activity
            android:name="themerom.bonus.com.themerom.activity.HomeMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.DownloadTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.WallpaperActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.WallPaperImageActivity" android:screenOrientation="portrait" />

        <!-- umeng-->
        <meta-data android:value="5649bd67e0f55a2e1400099d" android:name="UMENG_APPKEY"></meta-data>
        <!-- note for update-->
        <!-- the order is ./gradlew assembleRelease note:need java_home-->
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>
